<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="1.0.2838.0" />
  <package id="Rx-AsyncLinq" version="1.0.2838.0" />
  <package id="Rx-Interactive" version="1.0.2838.0" />
  <package id="Rx-Main" version="1.0.2838.0" />
  <package id="Rx-ClientProfile" version="1.0.2838.0" />
  <package id="Rx-ExtendedProfile" version="1.0.2838.0" />
  <package id="Rx-Testing" version="1.0.2838.0" />
  <package id="Rx-All" version="1.0.2838.0" />
</packages>