<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-ClientProfile" version="1.0.2856.0" />
  <package id="Rx-Interactive" version="1.0.2856.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Autofac" version="2.4.5.724" />
  <package id="Rx-Main" version="1.1.10425" />
  <package id="Hammock" version="1.2.3" />
  <package id="TweetSharp" version="2.0.6" />
  <package id="Rx-AsyncLinq" version="1.0.2856.0" />
  <package id="Rx-ExtendedProfile" version="1.0.2856.0" />
  <package id="Rx-Testing" version="1.0.2856.0" />
  <package id="Rx-All" version="1.0.2856.0" />
  <package id="Rx-WPF" version="1.1.10425" />
</packages>