<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.1" />
  <package id="Autofac" version="2.4.4.705" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Rx-ClientProfile" version="1.0.2856.0" />
  <package id="Rx-Interactive" version="1.0.2856.0" />
  <package id="Hammock" version="1.1.7" />
  <package id="TweetSharp" version="0.0.10" />
</packages>